.mainContainer {
  display: flex;
  height: 100vh;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--background);
}

.CardMax {
  display: flex;
  width: 100vw;
  height: calc(100vh - 3em);
  top: 10.3px;
  border-radius: 0.5em;
  border: 1.5px solid var(--background);
  color: var(--text);
  background-color: var(--background-secondary);
}

.selectNone {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topSpace {
  display: flex;
  width: 100%;
  height: 90%;
}

.touchAndDrag {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  position: absolute;
}

.bottomSpace {
  bottom: 0%;
  left: 0%;
  transform: translateX(-50%) translateX(54%);
  text-align: center;
  position: absolute;
}

.statusInfo {
  margin-left: 1rem;
}

@media (max-width: 576px) {
  .statusInfo {
    margin-left: 0.5rem;
  }

  .bottomSpace {
    font-size: 0.9rem;
  }
}
