.mainContainer {
  display: flex;
  height: 100vh;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--background);
}

.CardMax {
  display: flex;
  width: 100vw;
  height: calc(100vh - 3em);
  top: 10.3px;
  border-radius: 0.5em;
  border: 1.5px solid var(--background);
  color: var(--text);
  background-color: var(--background-secondary);
}

.selectNone {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topSpace {
  display: flex;
  width: 100%;
  height: 90%;
}

.touchAndDrag {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bottomSpace {
  display: flex;
  align-self: flex-end;
  height: 10%;
  width: 100%;
  margin-left: 0px;
}
